---

layout: default
title: Overview
class: overview
nav-order: 1

banner-title: the World is on Sale

intro: >
  <h3 class="title title--upper title--expanded title--tiny">Where to?</h3>
  <p class="p--lead">British Airways are holding a sale that will see you jet-setting around the world in no time. Take advantage of these incredible discounted flights to some of the world’s most exclusive travel destinations, with a carrier that ensures only the most comfortable travel. Send your wanderlust reeling by browsing through the British Airways collection below...</p>

image-divide: >
  <h3 class="title title--largest title--display">The United States</h3>
  <p class="p--lead">A land of hopes and dreams, more iconic sights than you can shake some salt-water taffy at, and a cultural melting pot so diverse that an endless stream of treats await to be discovered – the USA is a familiar yet oft surprising destination. </p>
  <p class="p--lead">From the verdant, old-world charms of the northeast pierced by iconic urban scenes, to the spiced rhythms of the hot and sticky deep south, this vast expanse offers more than a lifetime of intrepid discovery. You may think you know the USA. You may be surprised... </p>

---
{% assign destinations = site.data.destinations %}



{% for section in destinations %}

  {% include destination-section.html %}

  {% assign half = forloop.length | divided_by:2.0 | ceil %}
  {% if forloop.index == half %}
    <section class="section--padding-xxlarge bg--image-fixed align-center invert-text js-bg-fade" id="image-split" style="background-image: url('{{site.baseurl}}/img/content/overview/divide.jpg');">
      <div class="row row--padding">
        {{ page.image-divide }}
      </div>
      <div class="js-bg-fade__overlay"></div>
    </section>
  {% endif %}

{% endfor %}



<section class="section--padding-large bg--partner-red invert-text align-center">
  <div class="row row--padding">
    <h2 class="title title--largest title--light title--display">The world is on sale!</h2>
    <hr class="hr--center hr--margin">
    <p class="p--lead">Tempted yet? Check out these offers and more on the British Airways page, with a variety of flight only and holiday deals to inspire your summer…</p>
    <a href="{{ site.campaign-link }}" class="btn btn--invert btn--large" id="tracking-footer-btn">Discover more</a>
  </div>
</section>

