
{% assign destinations = site.data.destinations %}
<div class="intro {% if destinations.size > 0 %}has-nav{% endif %}">

  {% if destinations.size > 0 %}
  <section class="intro__nav section--padding-none align-center">
    <ul class="list--horizontal row row--padding">
      {% for section in destinations %}
      <li><a href="#{{ section.class }}" class="p--expanded p--upper p--small p--bold">{{ section.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  <section class="intro__content">
    <div class="row row--padding row--columns-3-9-gutters row--columns-vertical-align">

      <div class="row__column">
        <img src="{{site.baseurl}}/img/content/sale-globe.png" alt="">
      </div>

      <div class="row__column">
        {{ page.intro }}
      </div>

    </div>
  </section>

</div>

