
{% assign destinations = site.data.destinations %}
<div class="intro {% if destinations.size > 0 %}has-nav{% endif %}">

  {% if destinations.size > 0 %}
  <!-- SITE NAV -->
  <section class="intro__nav section--padding-none align-center site-nav">
    <div class="row row--padding">
      <ul class="site-nav__list">
        {% for section in destinations %}<li class="site-nav__item site-nav__item--{{ section.title | slugify }}{% if section.class == page.class %} is-current{% endif %}"><a class="site-nav__link" href="{{ site.baseurl }}/#{{section.class}}">{{section.title}}</a></li>{% endfor %}
      </ul>
    </div><!-- END - .row -->
  </section><!-- END - .site-nav -->
  {% endif %}

  <section class="intro__content">
    <div class="row row--padding row--columns-3-9-gutters row--columns-vertical-align">

      <div class="row__column">
        <img src="{{site.baseurl}}/img/content/sale-globe.png" alt="">
      </div>

      <div class="row__column">
        {{ page.intro }}
      </div>

    </div>
  </section>

</div>

